/* VARIABLES */
//fonts
$primaryfont: 'Roboto', sans-serif;
$secondfont: "Shrikhand", sans-serif;
//colors
$white: white;
$bggrey: #f6f6f6;
$purple: #9356dc;
$pinklight: #FF79DA;
$bggreen: #99e2d0;
$darkgreen: #008766;
$shadowbtnanim: inset 1px 1px 3px rgba(255, 255, 255, 0.7), 1px 1px 12px rgb(94, 94, 94);
$gradientpink: linear-gradient(160deg, rgba(238,115,218,1) 0%, rgba(223,110,218,1) 21%, rgba(163,91,220,1) 100%);

//SHADOW 

$buttonboxshadow: 1px 1px 12px rgb(192, 192, 192), inset 1px 0px 5px rgba(255, 255, 255, 0.7);