@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* VARIABLES */
*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* body */
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

button {
  outline: none;
}

/* header */
header {
  height: 99px;
  width: 100%;
  position: relative;
  /* header page menu */
  /* fin header page menu*/
}

header div .fas {
  margin-right: 10px;
}

header .arrow_head {
  position: absolute;
  top: 15px;
  left: 25px;
}

header a {
  color: black;
}

#head_tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-family: "Shrikhand", sans-serif;
  margin-top: 10px;
  margin-bottom: -15px;
  text-align: center;
}

#tit_des {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

#top_search_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  background: #eaeaea;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}

input[type="search"] {
  border: none;
  background: #eaeaea;
  outline: none;
  font-weight: 600;
  color: black;
  font-size: 15px;
  width: 140px;
  -webkit-transform: translate(10px);
          transform: translate(10px);
}

#loc_icon {
  margin-right: -10px;
}

::-webkit-input-placeholder {
  font-weight: 600;
  color: black;
  font-size: 15px;
}

:-ms-input-placeholder {
  font-weight: 600;
  color: black;
  font-size: 15px;
}

::-ms-input-placeholder {
  font-weight: 600;
  color: black;
  font-size: 15px;
}

::placeholder {
  font-weight: 600;
  color: black;
  font-size: 15px;
}

/* TITRE */
#container_tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f6f6f6;
  height: 250px;
  width: 100%;
  padding: 25px 40px;
}

#container_tit #main_tit {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  width: 250px;
}

#container_tit #ud_tit {
  font-size: 16px;
  text-align: center;
}

#container_tit #button_tit {
  height: 45px;
  width: 188px;
  color: white;
  font-weight: 600;
  font-size: 13px;
  border-radius: 20px;
  padding: 15px;
  border: none;
  background: linear-gradient(160deg, #ee73da 0%, #df6eda 21%, #a35bdc 100%);
  -webkit-box-shadow: 1px 1px 12px silver, inset 1px 0px 5px rgba(255, 255, 255, 0.7);
          box-shadow: 1px 1px 12px silver, inset 1px 0px 5px rgba(255, 255, 255, 0.7);
  cursor: pointer;
  text-align: center;
}

#container_tit #button_tit.btn_anim_hover:hover {
  -webkit-box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.7), 1px 1px 12px #5e5e5e;
          box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.7), 1px 1px 12px #5e5e5e;
  text-shadow: 1px 1px 12px #afafaf;
}

.container_sec_tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* FONCTIONNEMENT */
#ftment {
  width: 100%;
  height: 350px;
  margin-top: 30px;
}

#ftment h3 {
  margin-left: 15px;
  font-size: 22px;
  font-weight: 900;
}

#li_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  margin: 20px 20px;
}

.btn {
  margin: 10px 0;
  padding: 30px 10px;
  width: 100%;
  border-radius: 20px;
  border: none;
  background-color: #f6f6f6;
  font-weight: 900;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  position: relative;
  -webkit-box-shadow: 1px 1px 12px silver;
          box-shadow: 1px 1px 12px silver;
  text-align: baseline;
  cursor: pointer;
}

.btn:nth-child(1)::before {
  content: "1";
  position: absolute;
  left: -10px;
  top: 24px;
  background-color: #9356dc;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 8px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  vertical-align: center;
}

.btn:nth-child(2)::before {
  content: "2";
  position: absolute;
  left: -10px;
  top: 24px;
  background-color: #9356dc;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 8px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  vertical-align: center;
}

.btn:nth-child(3)::before {
  content: "3";
  position: absolute;
  left: -10px;
  top: 24px;
  background-color: #9356dc;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 8px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  vertical-align: center;
}

.btn .fas {
  position: absolute;
  left: 9vw;
  color: #7e7e7e;
}

.btn:hover {
  background-color: #f5edff;
  border: none;
}

.btn:hover .fas {
  color: #9356dc;
}

/* Restaurant */
#card_design {
  background-color: #f6f6f6;
  padding: 15px 10px;
  width: 100%;
}

#card_design h2 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 15px;
}

div.rest_card {
  background-image: url(../images/restaurants/la_palette_du_gout.jpg);
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  margin: 10px 0;
  -webkit-box-shadow: 1px 1px 12px silver;
          box-shadow: 1px 1px 12px silver;
  color: black;
  cursor: pointer;
  position: relative;
}

div.rest_card.new_card::after {
  content: "Nouveau";
  position: absolute;
  background: #99e2d0;
  padding: 6px 10px;
  color: #008766;
  font-weight: 500;
  font-size: 12px;
  right: 20px;
  top: 10px;
  border-radius: 2px;
}

div.rest_card.bg_img_1 {
  background-image: url(../images/restaurants/la_note_enchantee.jpg);
}

div.rest_card.bg_img_2 {
  background-image: url(../images/restaurants/a_la_francaise.jpg);
}

div.rest_card.bg_img_3 {
  background-image: url(../images/restaurants/le_delice_des_sens.jpg);
}

div.rest_card .overlay_card {
  background-color: white;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 50px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 10px;
  padding-top: 5px;
  z-index: 0;
}

div.rest_card .rest_card_tit {
  font-weight: 600;
  font-size: 15px;
}

div.rest_card .rest_card_ut {
  font-size: 13px;
  font-weight: 400;
}

/*-----------------
    
                COEUR FILLED 
    
    -------------*/
#heart_right {
  position: absolute;
  right: 30px;
  top: 25px;
  font-size: 25px;
}

#heart_label {
  position: relative;
}

i#fullheart {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 4px;
}

input[type=checkbox] {
  display: none;
}

[for="heart"] {
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  z-index: 1;
}

input[type=checkbox]:checked + label #fullheart {
  display: inline;
  content: linear-gradient(160deg, #ee73da 0%, #df6eda 21%, #a35bdc 100%);
  -webkit-clip-path: polygon(43% 92%, 55% 92%, 100% 26%, 70% 0, 50% 20%, 30% 0, 0 26%);
          clip-path: polygon(43% 92%, 55% 92%, 100% 26%, 70% 0, 50% 20%, 30% 0, 0 26%);
  z-index: -1;
  height: 22px;
  width: 25px;
  opacity: 0;
  -webkit-animation: opacityheart 0.8s ease-in-out 0.3s 1 forwards;
          animation: opacityheart 0.8s ease-in-out 0.3s 1 forwards;
}

@-webkit-keyframes opacityheart {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityheart {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

/***
      
      SECOND HEART 
      
      ***/
.not_liked {
  position: absolute;
  right: 18px;
  top: 10px;
  height: 25px;
  width: 25px;
  z-index: 1;
}

/*****
    
    ANIMATION COEUR 
    
    *******/
@-webkit-keyframes scale_up {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    opacity: 0.25;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  50% {
    opacity: 0.75;
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
  }
  75% {
    opacity: 1;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale_up {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    opacity: 0.25;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  50% {
    opacity: 0.75;
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
  }
  75% {
    opacity: 1;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.heart_2 {
  height: 25px;
  width: 25px;
  font-size: 25px;
  position: relative;
  cursor: pointer;
}

.heart_2:hover .rempl {
  height: 21px;
  opacity: 1;
}

.rempl {
  -webkit-transition: polygon 0.5s ease-in-out 0.5s;
  transition: polygon 0.5s ease-in-out 0.5s;
  -webkit-transition: linear-gradient 1s ease-in-out 0.5s;
  transition: linear-gradient 1s ease-in-out 0.5s;
  -webkit-transition: opacity 1.5s ease-in-out 0.5s;
  transition: opacity 1.5s ease-in-out 0.5s;
  content: linear-gradient(160deg, #ee73da 0%, #df6eda 21%, #a35bdc 100%);
  -webkit-clip-path: polygon(43% 92%, 55% 92%, 100% 26%, 70% 0, 50% 20%, 30% 0, 0 26%);
          clip-path: polygon(43% 92%, 55% 92%, 100% 26%, 70% 0, 50% 20%, 30% 0, 0 26%);
  width: 25px;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
}

/*
    FOOTER
*/
footer {
  background-color: #313131;
  height: 20vh;
  width: 100%;
  color: white;
}

footer .fas {
  margin-right: 10px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

footer .fa-utensils {
  margin-right: 17px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#footer_tit {
  font-family: "Shrikhand";
  font-size: 18px;
  margin-top: 55px;
}

#footer_li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  color: white;
}

#footer_li a {
  color: white;
}

#footer_li a:visited {
  color: white;
  text-decoration: none;
}

#footer_des {
  line-height: 25px;
  margin: 0 0 20px 15px;
  padding-top: 15px;
}

/******** 


PAGE MENU


**********/
#bg_img_rest {
  background-image: url(../images/restaurants/la_palette_du_gout.jpg);
  background-repeat: no-repeat;
  height: 280px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 60px;
  z-index: -1;
}

#bg_img_rest.rest_2 {
  background-image: url(../images/restaurants/a_la_francaise.jpg);
  background-repeat: no-repeat;
}

#bg_img_rest.rest_3 {
  background-image: url(../images/restaurants/la_note_enchantee.jpg);
  background-repeat: no-repeat;
}

#bg_img_rest.rest_4 {
  background-image: url(../images/restaurants/le_delice_des_sens.jpg);
  background-repeat: no-repeat;
}

#menu_card_des {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 10px;
  position: relative;
  margin-top: 170px;
  overflow: hidden;
  z-index: 0;
}

#menu_card_des h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 22px;
  margin-bottom: 15px;
  padding-top: 15px;
  font-weight: 600;
}

#menu_card_des h2 {
  margin: 20px 0 8px 0;
  position: relative;
  font-weight: 400;
  font-size: 18px;
}

#menu_card_des h2::after {
  content: "";
  border-bottom: #99e2d0 3px solid;
  width: 40px;
  position: absolute;
  bottom: -6px;
  left: 2px;
}

.btn_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100px;
}

.btn_center #button_pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  width: 188px;
  color: white;
  font-weight: 600;
  font-size: 13px;
  border-radius: 20px;
  padding: 15px;
  border: none;
  background: linear-gradient(160deg, #ee73da 0%, #df6eda 21%, #a35bdc 100%);
  -webkit-box-shadow: 1px 1px 12px silver, inset 1px 0px 5px rgba(255, 255, 255, 0.7);
          box-shadow: 1px 1px 12px silver, inset 1px 0px 5px rgba(255, 255, 255, 0.7);
  margin: 25px 0;
  cursor: pointer;
  outline: none;
}

.btn_center #button_pay:hover {
  -webkit-box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.7), 1px 1px 12px #5e5e5e;
          box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.7), 1px 1px 12px #5e5e5e;
  text-shadow: 1px 1px 12px #afafaf;
}

.menu_btn {
  margin: 10px 0;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  border: none;
  -webkit-box-shadow: 1px 1px 12px silver;
          box-shadow: 1px 1px 12px silver;
  position: relative;
  text-align: left;
  font-family: "Roboto", sans-serif;
  -moz-user-select: none;
  /* Firefox */
  -webkit-user-select: none;
  /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none;
  /* Internet explorer depuis la version 10 et Edge */
  user-select: none;
  /* Propriété standard */
}

.menu_btn:hover {
  cursor: pointer;
}

.menu_btn .content_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 10px;
  top: 7px;
  line-height: 20px;
}

.menu_btn .content_card .tit_menu_card {
  font-weight: 600;
  font-size: 13px;
}

.menu_btn .content_card .ut_menu_card {
  font-weight: 500;
  font-size: 12px;
  text-align: left;
}

.menu_btn .card_price {
  position: absolute;
  right: 20px;
  top: 25px;
  font-weight: 600;
  font-size: 12px;
}

.menu_btn .popup {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #99e2d0;
  width: 50px;
  height: 50px;
  position: absolute;
  right: -50px;
  top: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu_btn .popup .popup_circle {
  color: white;
}

.slidein {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-transform: translateX(1500px);
          transform: translateX(1500px);
  margin: 10px 0;
  -webkit-animation: slide_in 1.5s 0.5s both;
          animation: slide_in 1.5s 0.5s both;
}

.slidein:nth-child(2) {
  -webkit-animation: slide_in 1.5s 0.8s both;
          animation: slide_in 1.5s 0.8s both;
}

.slidein:nth-child(3) {
  -webkit-animation: slide_in 1.5s 1s both;
          animation: slide_in 1.5s 1s both;
}

.slidein:nth-child(4) {
  -webkit-animation: slide_in 1.5s 1.2s both;
          animation: slide_in 1.5s 1.2s both;
}

.slidein:nth-child(5) {
  -webkit-animation: slide_in 1.5s 1.4s both;
          animation: slide_in 1.5s 1.4s both;
}

.slidein:nth-child(6) {
  -webkit-animation: slide_in 1.5s 1.6s both;
          animation: slide_in 1.5s 1.6s both;
}

.slidein:nth-child(7) {
  -webkit-animation: slide_in 1.5s 1.8s both;
          animation: slide_in 1.5s 1.8s both;
}

.slidein:nth-child(8) {
  -webkit-animation: slide_in 1.5s 2s both;
          animation: slide_in 1.5s 2s both;
}

.slidein:nth-child(9) {
  -webkit-animation: slide_in 1.5s 2.2s both;
          animation: slide_in 1.5s 2.2s both;
}

.slidein:nth-child(10) {
  -webkit-animation: slide_in 1.5s 2.4s both;
          animation: slide_in 1.5s 2.4s both;
}

@-webkit-keyframes slide_in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide_in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/******* 

checkbox 


*********/
.check {
  display: none;
}

input[type=checkbox] + label {
  color: black;
}

input[type=checkbox]:checked + label .card_price {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}

input[type=checkbox]:checked + label .popup {
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translateX(-49px);
  transform: translateX(-49px);
}

input[type=checkbox]:checked + label .ut_menu_card {
  text-overflow: ellipsis;
  width: 180px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
}

input[type=checkbox]:checked + label .popup .popup_circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* ANIMATION */
/* LOADER // ANIMATIONS */
#content_loader {
  height: 100%;
  width: 100vw;
  background: #121416;
}

#content_loader #loader_tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Shrikhand", sans-serif;
  font-size: 10px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100px;
  width: 55%;
  position: absolute;
}

#content_loader #loader_tit #text_anim_loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
}

#content_loader #loader_tit #o {
  -webkit-animation: text-anim 2.5s infinite ease-in-out;
          animation: text-anim 2.5s infinite ease-in-out;
}

#content_loader #loader_tit #h {
  -webkit-animation: text-anim 2.5s infinite 0.2s ease-in-out;
          animation: text-anim 2.5s infinite 0.2s ease-in-out;
}

#content_loader #loader_tit #m {
  -webkit-animation: text-anim 2.5s infinite 0.4s ease-in-out;
          animation: text-anim 2.5s infinite 0.4s ease-in-out;
}

#content_loader #loader_tit #y {
  -webkit-animation: text-anim 2.5s infinite 0.6s ease-in-out;
          animation: text-anim 2.5s infinite 0.6s ease-in-out;
}

#content_loader #loader_tit #f {
  -webkit-animation: text-anim 2.5s infinite 0.8s ease-in-out;
          animation: text-anim 2.5s infinite 0.8s ease-in-out;
}

#content_loader #loader_tit #o-2 {
  -webkit-animation: text-anim 2.5s infinite 1s ease-in-out;
          animation: text-anim 2.5s infinite 1s ease-in-out;
}

#content_loader #loader_tit #o-3 {
  -webkit-animation: text-anim 2.5s infinite 1.2s ease-in-out;
          animation: text-anim 2.5s infinite 1.2s ease-in-out;
}

#content_loader #loader_tit #d {
  -webkit-animation: text-anim 2.5s infinite 1.4s ease-in-out;
          animation: text-anim 2.5s infinite 1.4s ease-in-out;
}

@-webkit-keyframes text-anim {
  0% {
    scale: 0;
    color: #ffe4aa;
  }
  25% {
    scale: 1.25;
    font-size: 45px;
    color: #f16d60;
    text-shadow: 3px 0 rgba(255, 255, 255, 0.3);
    background-clip: text;
  }
  50% {
    scale: 1.5;
    font-size: 55px;
    color: #33aa4a;
    text-shadow: 3px 0 rgba(255, 255, 255, 0.7);
    background-clip: text;
  }
  75% {
    scale: 1.25;
    font-size: 45px;
    color: #b5d9e5;
    text-shadow: 3px 0 rgba(255, 255, 255, 0.3);
    background-clip: text;
  }
  100% {
    scale: 0.5;
    color: #efd299;
  }
}

@keyframes text-anim {
  0% {
    scale: 0;
    color: #ffe4aa;
  }
  25% {
    scale: 1.25;
    font-size: 45px;
    color: #f16d60;
    text-shadow: 3px 0 rgba(255, 255, 255, 0.3);
    background-clip: text;
  }
  50% {
    scale: 1.5;
    font-size: 55px;
    color: #33aa4a;
    text-shadow: 3px 0 rgba(255, 255, 255, 0.7);
    background-clip: text;
  }
  75% {
    scale: 1.25;
    font-size: 45px;
    color: #b5d9e5;
    text-shadow: 3px 0 rgba(255, 255, 255, 0.3);
    background-clip: text;
  }
  100% {
    scale: 0.5;
    color: #efd299;
  }
}

.loader_out {
  -webkit-animation: loadershow 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4.5s forwards;
  animation: loadershow 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4.5s forwards;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  overflow-y: hidden;
}

@-webkit-keyframes loadershow {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100vh;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-1500px);
            transform: translateY(-1500px);
    height: 0;
  }
}

@keyframes loadershow {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100vh;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-1500px);
            transform: translateY(-1500px);
    height: 0;
  }
}

/********** 
  
  MEDIA QUERIES 
  
  
  *******/
@media (min-width: 1024px) {
  nav#ftment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav#ftment h3 {
    position: absolute;
    left: 5px;
  }
  nav#ftment #li_btn {
    margin: auto;
  }
  nav#ftment .btn {
    width: 500px;
  }
  /*DKT*/
  #card_design {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #card_design h2 {
    position: absolute;
    left: 20px;
  }
  /*DKT END*/
  #bg_img_rest {
    height: 120vh;
    background-size: cover no-repeat;
    overflow-y: hidden;
  }
  #globalcarddes {
    width: 100vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #menu_card_des {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 40px;
  }
  .menu_btn {
    margin-left: 0;
    width: 450px;
  }
  div.rest_card {
    margin: 40px;
    width: 350px;
  }
}

@media (min-width: 1440px) {
  nav#ftment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 200px;
  }
  nav#ftment #li_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin: auto;
    width: 100%;
  }
  nav#ftment .btn {
    width: 550px;
    margin: 0 25px;
  }
  nav#ftment .btn .fas {
    left: 4vw;
  }
  div.rest_card {
    width: 330px;
    margin: 40px 10px;
  }
  .menu_btn {
    margin-left: 0;
    width: 650px;
  }
}

@media (min-width: 1920px) {
  div.rest_card {
    width: 450px;
    margin: 40px 10px;
  }
  .menu_btn {
    margin-left: 15%;
    width: 800px;
  }
}
/*# sourceMappingURL=styles.css.map */