@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* VARIABLES */
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

/* header */
header {
  height: 99px;
  width: 100%;
  position: relative;
  /* header page menu */
  /*fin*/
}
header div .fas {
  margin-right: 10px;
}
header .arrow_head {
  position: absolute;
  top: 15px;
  left: 25px;
}
header a {
  color: black;
}

#head_tit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Shrikhand", sans-serif;
  margin-top: 10px;
  margin-bottom: -15px;
}

#tit_des {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#loc_map {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 40px;
  width: 100%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  font-weight: 500;
  font-size: 15px;
}

/* TITRE */
#container_tit {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  height: 250px;
  width: 100%;
  padding: 25px 40px;
}
#container_tit #main_tit {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  width: 250px;
}
#container_tit #ud_tit {
  font-size: 16px;
  text-align: center;
}
#container_tit #button_tit {
  height: 45px;
  width: 188px;
  color: white;
  font-weight: 700;
  border-radius: 20px;
  padding: 15px;
  border: none;
  background: linear-gradient(160deg, #ee73da 0%, #df6eda 21%, #a35bdc 100%);
  box-shadow: 1px 1px 12px silver;
  cursor: pointer;
}

.container_sec_tit {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

/* FONCTIONNEMENT */
#ftment {
  width: 100%;
  height: 350px;
  margin-top: 30px;
}
#ftment h3 {
  margin-left: 15px;
  font-size: 22px;
  font-weight: 900;
}

#li_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 20px;
}

#btn {
  margin: 10px 0;
  padding: 30px 10px;
  width: 100%;
  border-radius: 20px;
  border: none;
  background-color: #f6f6f6;
  font-weight: 900;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  position: relative;
  box-shadow: 1px 1px 12px silver;
  text-align: center;
}
#btn:nth-child(1)::before {
  content: "1";
  position: absolute;
  left: -10px;
  top: 24px;
  background-color: #9356dc;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 8px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  vertical-align: center;
}
#btn:nth-child(2)::before {
  content: "2";
  position: absolute;
  left: -10px;
  top: 24px;
  background-color: #9356dc;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 8px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  vertical-align: center;
}
#btn:nth-child(3)::before {
  content: "3";
  position: absolute;
  left: -10px;
  top: 24px;
  background-color: #9356dc;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 8px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  vertical-align: center;
}
#btn .fas {
  position: absolute;
  left: 9vw;
  color: #7e7e7e;
}
#btn:hover {
  background-color: #f5edff;
  border: none;
}
#btn:hover .fas {
  color: #9356dc;
}

/* Restaurant */
#card_design {
  background-color: #f6f6f6;
  padding: 15px 10px;
  width: 100%;
  height: 100%;
}
#card_design h2 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 15px;
}

div.rest_card {
  background-image: url(../images/restaurants/la_palette_du_gout.jpg);
  height: 200px;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  margin: 10px 0;
  box-shadow: 1px 1px 12px silver;
  color: black;
  cursor: pointer;
}
div.rest_card.new_card::after {
  content: "Nouveau";
  position: absolute;
  background: #99e2d0;
  padding: 6px 10px;
  color: #008766;
  font-weight: 500;
  font-size: 12px;
  right: 20px;
  top: 10px;
  border-radius: 2px;
}
div.rest_card.bg_img_1 {
  background-image: url(../images/restaurants/la_note_enchantée.jpg);
}
div.rest_card.bg_img_2 {
  background-image: url(../images/restaurants/a_la_francaise.jpg);
}
div.rest_card.bg_img_3 {
  background-image: url(../images/restaurants/le_delice_des_sens.jpg);
}
div.rest_card .overlay_card {
  background-color: white;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 50px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 10px;
  padding-top: 5px;
}
div.rest_card .overlay_card .far {
  position: absolute;
  right: 10px;
  top: 15px;
}
div.rest_card .overlay_card .far:hover {
  background: url(/f004);
  background: linear-gradient(160deg, #ee73da 0%, #df6eda 21%, #a35bdc 100%);
  cursor: pointer;
}
div.rest_card .overlay_card .far:active {
  background: linear-gradient(160deg, #ee73da 0%, #df6eda 21%, #a35bdc 100%);
  cursor: pointer;
}
div.rest_card .overlay_card .rest_card_tit {
  font-weight: 600;
  font-size: 15px;
}
div.rest_card .overlay_card .rest_card_ut {
  font-size: 13px;
  font-weight: 400;
}

/*
    footer
    */
footer {
  background-color: #313131;
  height: 20vh;
  width: 100%;
  color: white;
}
footer .fas {
  margin-right: 10px;
  transform: scale(0.7);
}

#footer_tit {
  font-family: "Shrikhand";
  font-size: 18px;
  margin-top: 55px;
}

ul li {
  list-style: none;
  color: white;
}
ul li a {
  color: white;
}
ul li a:visited {
  color: white;
  text-decoration: none;
}

#footer_des {
  line-height: 25px;
  margin: 0 0 20px 15px;
  padding-top: 15px;
}

/* PAGE MENU */
#bg_img_rest {
  background-image: url(../images/restaurants/la_palette_du_gout.jpg);
  height: 280px;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 60px;
  z-index: -1;
}
#bg_img_rest.rest_2 {
  background-image: url(../images/restaurants/a_la_francaise.jpg);
}
#bg_img_rest.rest_3 {
  background-image: url(../images/restaurants/la_note_enchantée.jpg);
}
#bg_img_rest.rest_4 {
  background-image: url(../images/restaurants/le_delice_des_sens.jpg);
}

#menu_card_des {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 10px;
  position: relative;
  margin-top: 170px;
}
#menu_card_des h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 22px;
  margin-bottom: 15px;
  padding-top: 15px;
  font-weight: 600;
}
#menu_card_des .heart_icon {
  position: absolute;
  right: 25px;
  top: 30px;
  font-size: 20px;
}
#menu_card_des .menu_tit {
  margin: 20px 0 8px 0;
  position: relative;
}
#menu_card_des .menu_tit::after {
  content: "";
  border-bottom: #99e2d0 3px solid;
  width: 40px;
  position: absolute;
  bottom: -6px;
  left: 2px;
}
#menu_card_des .menu_btn {
  margin: 10px 0;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  border: none;
  box-shadow: 1px 1px 12px silver;
  position: relative;
  text-align: left;
}
#menu_card_des .menu_btn:hover {
  cursor: pointer;
}
#menu_card_des .menu_btn .content_card {
  position: absolute;
  left: 10px;
  top: 7px;
  line-height: 20px;
}
#menu_card_des .menu_btn .content_card .tit_menu_card {
  font-weight: 600;
  font-size: 13px;
}
#menu_card_des .menu_btn .content_card .ut_menu_card {
  font-weight: 500;
  font-size: 12px;
  text-align: left;
}
#menu_card_des .menu_btn .card_price {
  position: absolute;
  right: 20px;
  top: 25px;
  font-weight: 600;
  font-size: 12px;
}

.btn_center {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.btn_center #button_pay {
  height: 45px;
  width: 188px;
  color: white;
  font-weight: 700;
  border-radius: 20px;
  padding: 15px;
  border: none;
  background: linear-gradient(160deg, #ee73da 0%, #df6eda 21%, #a35bdc 100%);
  box-shadow: 1px 1px 12px #a1a1a1;
  margin: 25px 0;
  cursor: pointer;
}

/* ANIMATIONS */

/*# sourceMappingURL=styles.css.map */
